<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:test-spring-db.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:database.properties</value>
                <value>classpath:app.properties</value>
                <value>classpath:app-service.properties</value>
            </list>
        </property>
    </bean>

    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="userDao" class="com.epam.brest.course2015.social.dao.UserDaoImpl"/>
    <bean id="friendshipDao" class="com.epam.brest.course2015.social.dao.FriendshipDaoImpl"/>
    <bean id="socialService" class="com.epam.brest.course2015.social.service.SocialServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="friendshipDao" ref="friendshipDao"/>
    </bean>

</beans>