# Created by .ignore support plugin (hsz.mobi)
.gitignore
**/.idea
**/*.iml
**/*.*~
**/*.jar
**/*.class
**/*.log
**/target/
**/build
**/.gradle
**/logs
**/bootstrap_metro/janux/*.html
**/bootstrap_metro/janux/*.md
**/bootstrap_metro/janux/img/gallery/


*.zip


# Package Files #
*.jar
*.war
*.ear
