<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:websocket="http://www.springframework.org/schema/websocket"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd
         http://www.springframework.org/schema/websocket
         http://www.springframework.org/schema/websocket/spring-websocket.xsd
            ">

    <servlet>
        <servlet-name>webSocket</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/websocket.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>webSocket</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--<context-param>
        <param-name>contextConfigLocation</param-name>
        &lt;!&ndash; JPA Config &ndash;&gt;
        <param-value>/WEB-INF/social-rest-spring-jpa.xml</param-value>
        &lt;!&ndash; JDBC Config &ndash;&gt;
        &lt;!&ndash;<param-value>/WEB-INF/social-rest-spring-jdbc.xml</param-value>&ndash;&gt;
    </context-param>-->

</web-app>