<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <properties>
        <property name="filename">
            logs/server.log
        </property>
        <property name="sharedLogFolder">
            /home/alexander_borohov/work/projects/Alejano-Borhez-Social/logs/server.log
        </property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM.OUT">
            <Patternlayout pattern="%d{HH:mm:ss.SSS}[%t] %-5level - %msg%n"/>
        </Console>

        <File name="File" filename="${filename}">
            <PatternLayout pattern="%d[%t] %msg %n"/>
        </File>

        <File name="SharedLogFolder" filename="${sharedLogFolder}">
            <PatternLayout pattern="%d[%t] %msg %n"/>
        </File>

    </Appenders>


    <Loggers>
        <Logger name="com.epam.brest.course2015.social" level="DEBUG">
            <AppenderRef ref="File"/>
            <AppenderRef ref="SharedLogFolder"/>
        </Logger>

        <Logger name="log4j.logger.org.springframework.jdbc.core" level="TRACE">
            <Appender-Ref ref="Console" />
            <Appender-Ref ref="File"/>
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>